<%= image_tag 'logo.png' %>
<p>Howdy.</p>
<ul>
<% @posts.each do |post| %>
	<li><%= post["from"]["name"] %> said "<%= post["message"] %>" <%= time_ago_in_words(post["created_time"]) %> ago.</li>
<% end %>
</ul>