/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	background-color: #000000;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

a {
	color: #CC6633;
	text-decoration: none;
}

.top_bar {
	background-color: #151515;
	padding: 10px;
	border-bottom: 2px solid #CC6633;
}

.content {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.post {
	position: relative;
	width: 1200px;
	height: 505px;
	margin: 20px;
	border-bottom: 2px solid #CC6633;
}
.video {
	position: absolute;
	width: 853px;
	height: 505px;
	top: 0;
	left: 0;
}

.friends {
	width: 347px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	overflow-y: scroll;
}

td {
	padding: 0 0 5px 10px;
}

.profile_pic {
	vertical-align:text-top
}

.name {
	color: #CC6633;
}

.message {
	
}

.time {
	color: #666666;
	font-size: x-small;
}

.poster {
	font-size: large;
}

.commenter {
	
}